In [1]:
import pandas as pd

In [4]:
department = pd.read_excel('main-database.xlsx', sheet_name='Department')
department.head()
dep_sql = 'insert into table department values ('
for i in range(len(department)):
    dep_sql += '('
    for j in range(len(department.columns)):
        if j == 0:
            dep_sql += str(department.iloc[i, j])
        else:
            dep_sql += ', ' + str(department.iloc[i, j])
    dep_sql += '), '
dep_sql = dep_sql[:-2] + ');'
print(dep_sql)

insert into table department values ((Data Science, 200, 1), (Ai, 201, 2), (Cyber Security, 202, 3), (Business, 203, 4), (Medical Care, 204, 5);

In [2]:
student = pd.read_excel('main-database.xlsx', sheet_name='student')
student.head()

     FName         LName  std_id  Acadimic_year                 student_Email
0    Ahmed          Nagy    1001              1           ahmednagy@gmail.com
1  Mohamed         Nasef    2001              2        mohamednasef@gmail.com
2  Mahmoud   Abd Elrheem    3001              3  mahmoudabd elrheem@gmail.com
3  Mostafa      Abd Alla    4001              4     mostafaabd alla@gmail.com
4      Ali  Abd Alrahman    1002              1     aliabd alrahman@gmail.com